.form
{
	margin-top: 100px;
}

.login
{
	margin-top: 100px;
}

.jadwal_asisten
{
	margin-top: 100px;
}

.update
{
	margin-top: 100px;
}
.tambah
{
	margin-top: 100px;
}
.data_asisten
{
	margin-top:100px;
}